<h1>Not Found</h1>
<h2>404</h2>
<pre>Error: Not Found
    at /home/aladin.atalla/gitR/foodOrder/app.js:30:13
    at Layer.handle [as handle_request] (/home/aladin.atalla/gitR/foodOrder/node_modules/express/lib/router/layer.js:95:5)
    at trim_prefix (/home/aladin.atalla/gitR/foodOrder/node_modules/express/lib/router/index.js:317:13)
    at /home/aladin.atalla/gitR/foodOrder/node_modules/express/lib/router/index.js:284:7
    at Function.process_params (/home/aladin.atalla/gitR/foodOrder/node_modules/express/lib/router/index.js:335:12)
    at next (/home/aladin.atalla/gitR/foodOrder/node_modules/express/lib/router/index.js:275:10)
    at /home/aladin.atalla/gitR/foodOrder/node_modules/express/lib/router/index.js:635:15
    at next (/home/aladin.atalla/gitR/foodOrder/node_modules/express/lib/router/index.js:260:14)
    at Function.handle (/home/aladin.atalla/gitR/foodOrder/node_modules/express/lib/router/index.js:174:3)
    at router (/home/aladin.atalla/gitR/foodOrder/node_modules/express/lib/router/index.js:47:12)</pre>
