<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Foodlist</h1>


    <% foodlist.foods.forEach(function(food) { %>
      <ul>
        <li><%= food.name %></li>
        <li><%= food.price %></li>
        <li><%= food.kcal %></li>
        <li><%= food.menuNumber %></li>
      </ul>
    <% }); %>
  </body>
</html>
